<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

    <div>
        <%= f.label :firstname%>
      <div>
          <%= f.text_field :firstname%>
      </div>
  
    </div>


    <div>
      <%= f.label :lastname%>
      <div >
        <%= f.text_field :lastname%>
      </div>
    </div>



    <div>
      <%= f.label :email%>
      <div>
        <%= f.text_field :email%>
      </div>
    </div>

    <div >
      <%= f.label :dob%>
      <div>
        <%= f.text_field :dob, :autocomplete=>"off",:readonly => true%>
      </div>
    </div>

    <div>
      <%= f.label :contact%>
      <div>
        <%= f.text_field :contact%>
    </div>
    </div>
    
    <div>
      <%= f.label :address%>
      <div>
        <%= f.text_area :address%>
      </div>
    </div> <br />

    <div>
        <%= f.select(:exam_id, Exam.all.collect {|p| [p.name, p.id ]}, { :include_blank => 'select test' }) %> 
    </div><br />

     <div>  
    <%= f.submit nil%>
    </div>


<% end %>
