<%= render 'layouts/adminsection' %></br></br>
<h1>Listing Users</h1>  </br></br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Show', user ,:class=>"btn btn-warning"%></td> 
        <td>&nbsp;<%= link_to 'Destroy',  user , method: :delete, data: { confirm: 'Are you sure?'} ,:class=>"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %><br/>
<%= link_to 'Back', index_path ,:class=>"btn btn-warning btn-medium pull-left"%>
