
<h1>Listing Users</h1>  


<%= render 'layouts/adminsection' %>
<h1>Listing Users</h1>  




<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Show', user %> | </td> 
        <td>&nbsp;<%= link_to 'Destroy',  user , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @users %>
