
<%= form_for Result.new do |f| %> 
  <%#= question_form.error_notification %> 
  <%#= f.fields_for :questions do |builder| %>
  <%#= builder.text_field :question %>
    <%#= render "question_fields", :f => builder %>
  <%# end %>

  <div class="inputs"> 
   <%# raise @paper.inspect %>
        <% @paper.questions.each do |question| %> 
         <%= f.hidden_field :userchoice_id, :value => session[:id] %>
         <%#= f.hidden_field :exm_id, :value => session[:exam_id] %> 
        <%# for question in @paper.questions %>
    <%#= question_form.input :category, :collection => 
get_categories, :include_blank => false %> 
        <%#= f.hidden_field "question_id_#{question.id}", :value => question.id  %>

        <%= question.content %><br>

        <% for answer in question.answers %>
          <%#=  :answer do |choice_form| %> 
          <%#= choice_form :content %> 
          <%#= radio_button_tag("question[answers_attributes][][correct]", 
"false") %> 
        
          <%= radio_button_tag("result[question_id][#{question.id}]", answer.id )  %><%= answer.content %><br>
        <% end %> 
  </div> 
<% end %>
  <div class="actions"> 
    <%= f.button :submit %> 
  </div> 
<% end %>



