 <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paper.name %>
</p>

 
<%#= form_for Userchoice.new do |f| %>






<%= nested_form_for Result.new do |f| %>
<%# raise "hi" %>
<ol>
  <% @paper.questions.each do |ss| %>
<%# for question in @paper.questions_id %>
  <li>
    <%= ss.id %>
    <%#= ss.hidden_field :id, :value => ss.id %><%= ss.content %>
    <%# raise ss.id.inspect %>
    <%# for answer in question.answers %>
    <ul>
    
          
    
    <% for answer in ss.answers %>
    <ul> <%= radio_button_tag("userchoice[#{ss.id}]", answer.id) %><%= answer.content %><br/>
     <%# raise ss.content.inspect %>
     <%# raise answer.content.inspect %>
<%#= f.radio_button :answer_id, :value => answer.id  %><%#= answer.content %>


<%#= f.radio_button "answer_#{answer.id}", answer_id: answer.id , question_id: question.id %>
<%#= f.radio_button :answer_id, answer.id %>
 <%#= f.radio_button "userchoice[user_id]", user.id %><%#= answer.content %><br/>
<%# = radio_button_tag "score_#{goal.id}", goal_id: goal.id, student_id: @student.id %>
</ul>  
    <% end %>
    <%#raise @local_content.inspect %>
  <%# raise f.inspect %>

  </li>
<% end %>
</ol>



   <div><%= f.submit %></div>
<% end %>

  


<!--  simple_form_for @pack do |pack_form|
  .pack-product-rows
    - @pack.pack_contents.each do |pack_content|
      = f.simple_fields_for :pack_contents, pack_content do |pack_content_fields|
        = render :partial => 'pack_product_row', :locals => { :pack => @pack, :pack_content => pack_content, :pack_content_fields => pack_content_fields}
 -->

      
    
    



