<div>
    <% if @paper.timing!=0 %><div id="time" class="bg"></div><%end%>
<br>


<%= form_for Result.new, :html => {:target=> "new" } do |f| %> 

    <div class="inputs"> 
        <% @questions.each do |question| %> 
         <%= f.hidden_field :userchoice_id, :value => session[:id] %>
         <%= f.hidden_field :exam_id, :value => session[:exam_id] %><br>
        <h3><%= question.content %></h3><br>
        <% for answer in question.answers %>
          <%= radio_button_tag("result[question_id][#{question.id}]", answer.id )  %>
          <%= answer.content %><br>

        <% end %> 
    </div> 
  <% end %>


    <div class="actions"> 
     <br> <%= f.button :submit  %> 
    </div> 

    
<% end %>

<div style='display:none' id="timeup"><% if @time==0 %>0<%else%>1<%end%></div>

<%= will_paginate @questions %>


<!-- 
Added Timer Javascript in Test
 -->
<% if @paper.timing!=0 %>
        <script>
        $(document).ready(function(){
        var now=new Date();
        if($('#timeup').html()==0){
          stopTest();
        }
        now.setMinutes(now.getMinutes()+<%=@min%>);
        now.setSeconds(now.getSeconds()-<%=@sec%>);
       $('#time').countdown({until:now, format: 'MS',onExpiry:stopTest});

        });

        function stopTest(){
          $('#time').html('<center><h4>Time\'s up!</h4></center>');
          $('#timeup').html('0');
          // $('input.radio').attr("onclick","return false;");
          $("#new_result").submit();
        }
        </script>
<%end%>
