

<p>
  <strong>Firstname: </strong>
  <%= @user.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %> 
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Date-of-Birth:</strong>
  <%= @user.dob %> 
</p><p>
  <strong>Contact:</strong>
  <%= @user.contact %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address%> 
</p>
<strong>Exam:</strong>
  <%= @user.exam_id %> 
</p><p>
  <strong>Total Questions:</strong>
  <%= @user.no_of_questions %>
</p>
<p>
  <strong>Correct answer:</strong>
  <%= @user.no_of_correct_answer %> 
</p>
<p>
  <strong>Percentage:</strong>
  <%= @user.percent %> 
</p>
<%= link_to raw("<i class='icon-chevron-left'></i> Back "),users_path,:class=>"btn btn-warning btn-medium pull-left"%>
<%= link_to 'Destroy',  @user , method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-warning" %>
