<h1> User Detail </h1>

  <li><h3>Firstname:  	     <%= @user.firstname %></li>
  <li><h3>Lastname:  	     <%= @user.lastname %></li>
  <li><h3>Email:  		     <%= @user.email %></li>
  <li><h3>Date-of-Birth:     <%= @user.dob %></li>
  <li><h3>Contact:  	     <%= @user.contact %></li>
  <li><h3>Address:           <%= @user.address %></li>
  <li><h3>Exam:              <%= @user.exam_id %></li>
  <li><h3>Correct answer:    <%= @user.no_of_correct_answer %></li>
  <li><h3>Percentile:        <%= @user.percent %></li>



 

