<%= nested_form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= f.label :name%>
    <div >
      <%= f.text_field :name %>
        <h2>Questions</h2>
      <div >
        <%= f.fields_for :questions do |q_form| %>
          <div >
            <%= f.label :content%>
            <%= q_form.text_field :content %>
           </div>
          <hr />
          <div>          
            <div>
              <h2>Answers</h2>
              <div id="question_answers_<%= q_form.options[:child_index] %>">
                <%= q_form.fields_for :answers do |a_form| %>
                  <div >
                    <label ><%= a_form.check_box :correct_answer %></label>                    
                      <%= f.label :correct_answer %>                   
                  </div>
                  <div>
                    <%= f.label :content %>                    
                      <%= a_form.text_field :content, :class => 'form-control' %>
                   </div>              
               <div >
                <%= a_form.link_to_remove "Remove", :class => 'btn btn-danger btn-sm' %>
                    
                  </div>
                  <hr />
                <% end %>
              </div>
              <div>
               <%= q_form.link_to_add "Add an answer", :answers, :data => { :target => "#question_answers_#{q_form.options[:child_index]}" } %>
               </div>
            </div>
          </div>
          <div>
          
              <%= q_form.link_to_remove "Remove" %>
              <div class="form-group">
        <div class="col-lg-10">
          <%= f.link_to_add "Add a question", :questions, :data => { :target => "#lesson_questions" }, :class => 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
  </div>
           
          </div>
          <hr />
        <% end %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
