<%= nested_form_for(@exam)  do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :timing %><br>
    <%= f.number_field :timing %>
  </div>

  <h2>Questions</h2>
       <%= f.fields_for :questions %>

<p><%= f.link_to_add "Add a Question", :questions ,:class=>"btn btn-warning"%></p>
<%#raise f.inspect%>
<center><%= f.submit "Create Exam", :class => 'btn btn-primary' %></center>

<% end %>
