<p id="notice"><%= notice %></p>
<%= render 'layouts/adminsection' %>
<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>


 
  <h3>Questions</h3>
  <table width="100%">
    <% @exam.questions.each_with_index do |q, i| %>
      <tr>
        <td colspan="2"> <%= i+1 %>. <%= q.content %></td>
      </tr>
      <tr>
        <td width="2%"></td>
        <td width="98%">
          <table>
            <% q.answers.each_with_index do |a, i| %>
              <tr>
                <td><%= i+1 %>. <%= a.content %>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    <% end %>
  </table>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
