<%- model_class = Test -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @test.name %></dd>
  <h3>Questions</h3>
  <table width="100%">
    <% @test.questions.each_with_index do |q, i| %>
      <tr>
        <td colspan="2"><%= i+1 %>. <%= q.content %></td>
      </tr>
      <tr>
        <td width="2%"></td>
        <td width="98%">
          <table>
            <% q.answers.each_with_index do |a, i| %>
              <tr>
                <td><%= i+1 %>. <%= a.content %>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    <% end %>
  </table>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tests_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_test_path(@test), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              test_path(@test),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
