<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  
  <title>OnlineExamSystem</title>
  
   <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>



<%= javascript_include_tag "jquery.countdown.min.js" %>
<%= javascript_include_tag "jquery.timer.js" %>
<%= javascript_include_tag "jquery.tinyscrollbar.min.js" %>
<%= javascript_include_tag "bootstrap_confirm.js" %>
  <%= stylesheet_link_tag    'application', "jquery-ui.css"%>
  <%= javascript_include_tag 'application' %>
   <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" >
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="container nav-collapse">
        
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
<% flash.each do |name, msg| %>
              <div class="alert alert-<%= name == :notice ? 'success' : 'important' %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
              </div>
            <% end %>
             <%= yield %>

        </div><!--/row-->
        <br />




    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>



</html>
